.rotated-text {
    transform-origin: bottom center;
    transform: rotate(-90deg) translateX(50%) translateY(12%); /* Rotate the text by 90 degrees */
    white-space: nowrap; /* Keep the text on one line */
    text-align: center;
    /* left: 50%; */
    height: 200px;
}
table#items_table > thead > tr {
    height: auto;
}

table#items_table th:not(:first-child) {
    max-width: 80px;
}

table#items_table {
    width: auto;
}

main {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
