{% extends "templates/web.html" %}

{% block title %} {{ _("Weekly Planner") }} {% endblock %}

{% block head_include %}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script> 
{% endblock %}


{% block breadcrumbs %}
{% endblock %}

{% block header %}
    <!-- override -->
{% endblock %} 

{% block page_content %}
<!-- Header -->
<header class="container">
  <div>
    <div>
        <h3>{{ _("Welcome to the Weekly Planner") }}</h3>
    </div>
  </div>
</header>
<!-- ./ Header -->

<!-- Main -->
<main class="container">
  {% if invalid_role %}
    <br /><br /><br />
    <div class="shadow alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{ _("Invalid role! ") }}</strong>{{ _(" You are not authorized to access this page. Please contact your administrator for more information.") }}
    </div>
    

  {% else %}
    <!-- Load list of Weekly Planners -->   
    <div class="mt-4">
      {{ _("The tool will allow your Montessori Guides prepare their weekly lesson plans and submit them for approval. If you have Guides under you,") }}
      {{ _("the table below will show you their weekly planners as well as your own.") }}
      <br /><br /><br />
    </div>

    <table class="table table-md table-striped" style="width: 100%" id="main_table">
      <thead>
        <tr>
          <!-- display table header titles vertically -->
          <style>
            .rotated-text {
              transform: rotate(-45deg); /* Rotate the text by 90 degrees */
              white-space: nowrap; /* Keep the text on one line */
              text-align: left;
              height: 200px;
            }
          </style>
            <th scope="col">#</th>
            <th scope="col">{{ _("Instructor") }}</th>
            <th scope="col">{{ _("Student Group") }}</th>
            <th scope="col">{{ _("Dates") }}</th>
            <th class="text-center" scope="col">{{ _("Status") }}</th>
            <th class="text-center" scope="col" text-align="left">{{ _("Actions") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for planner in weekly_planners %}
          <tr>
            <th scope="row">{{ planner.counter }}</th>
            <td>{{ planner.instructor }}</td>
            <td>{{ planner.student_group }}</td>
            <td>{{ planner.start_date }} to {{ planner.end_date }}</td>
            
            <td class="text-center">
              {% if planner.is_approved %}
                <span class="badge rounded-pill bg-success">{{ _("Approved") }}</span>
                
              {% elif planner.status == 0 %}
                <span class="badge rounded-pill bg-secondary">{{ _("Draft") }}</span>
                
              {% elif planner.status == 1 %}
                <span class="badge rounded-pill bg-info">{{ _("Submitted") }}</span>

              {% elif planner.status == 2 %}
                <span class="badge rounded-pill bg-warning">{{ _("Cancelled") }}</span>
              {% endif %}
            </td>
            <td class="text-center">
              <div class="badge badge-primary translate-middle-x" planner-name="{{ planner.name }}" role="button" onclick="open_planner_detail()">{{ _("Edit") }}</div>
              {%if is_head_instructor %}
                <div class="badge badge-primary translate-middle-x"> </div>
                <div class="badge badge-primary translate-middle-x" planner-name="{{ planner.name }}" role="button" onclick="approve_planner()">{{ _("Approve") }}</div>
                <div class="badge badge-primary translate-middle-x"></div>
                <div class="badge badge-secondary translate-middle-x" role="button">{{ _("Reject") }}</div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <br />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_new_planner">{{ _("New Planner") }}</button>
  {% endif %} 

  <!-- Action Confirmation Modal -->
  <div class="modal fade" id="modal_action" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_action_title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal_action_body" ></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal_action_primary"></button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal_action_secondary"></button>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ Action Confirmation Modal -->

  <!-- New Planner Modal -->
  <div class="modal fade" id="modal_new_planner" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{ _("New Planner") }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid px-2 py-2 border bg-light">
            <div class="row">
              <div class="col">
                <label>{{_("Instructor") }}</label><br />
                <input class="text-align-left bg-light" name="instructor" id="instructor" value="{{ instructor }}" readonly>
              </div>
              <div class="col">
                <label>{{_("Student Group") }}</label>
                <select class="form-select bg-light" name="student_group" id="selected_group" required>
                  <option value="" selected>{{ _("Select Student Group") }}</option>
                  {% for group in student_groups %}
                    <option value="{{ group.student_group_name }}">{{ group.student_group_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row py-2">
              <div class="col">
                <label>{{ _("Start Date") }}<input class="input-group-text text-align-left" id="lesson_date" type="date" onchange="calc_end_date()" required></label>
              </div>
              <div class="col">
                <!-- Calculate lesson_date + 7 -->
                <label>{{ _("End Date") }}<input class="input-group-text text-align-left" id="end_date" type="date" readonly></label> 
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <span class="input-group-text">{{_("Description") }}</span>
                <textarea class="form-control" aria-label="With textarea" id="description"></textarea>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="save_planner()">{{ _("Save") }}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Cancel") }}</button>
        </div>
      </div>
    </div>  
  </div>
  <!-- ./ New Planner Modal -->
</main>
{% endblock %}