{% extends "templates/web.html" %}

{% block title %} {{ _("Weekly Planner") }} {% endblock %}

{% block head_include %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script> 
{% endblock %}


{% block breadcrumbs %}
{% endblock %}

{% block header %}
    <!-- override -->
{% endblock %} 

{% block page_content %}
<!-- Header -->
<header class="container">
  <div>
    <div>
        <h3>{{ _("Welcome to the Weekly Planner") }}</h3>
    </div>
  </div>
</header>
<!-- ./ Header -->

<!-- Main -->
<main class="container">
  {% if invalid_role %}
    <br /><br /><br />
    <div class="shadow alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{ _("Invalid role!") }}</strong>{{ _("You are not authorized to access this page. Please contact your administrator for more
      information.") }}
    </div>
    

  {% else %}
    <!-- Load list of Weekly Planners -->   
    <div class="mt-4">
      {{ _("The tool will allow your Montessori Guides prepare their weekly lesson plans and submit them for approval.") }}
        <br /><br /><br />
    </div>

    <table class="table table-md table-striped" style="width: 100%" id="main_table">
      <thead>
        <tr>
          <!-- display table header titles vertically -->
          <style>
            .rotated-text {
              transform: rotate(-45deg); /* Rotate the text by 90 degrees */
              white-space: nowrap; /* Keep the text on one line */
              text-align: left;
              height: 200px;
            }
          </style>
            <th scope="col">#</th>
            <th scope="col">{{ _("Instructor") }}</th>
            <th scope="col">{{ _("Student Group") }}</th>
            <th scope="col">{{ _("Start Date") }}</th>
            <th class="text-center" scope="col">{{ _("Status") }}</th>
            <th class="text-center" scope="col" text-align="left">{{ _("Action") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for planner in weekly_planners %}
          <tr>
            <th scope="row">{{ planner.counter }}</th>
            <td>{{ planner.instructor }}</td>
            <td>{{ planner.student_group }}</td>
            <td>{{ planner.start_date }}</td>
            
            <td class="text-center">
              {% if planner.docstatus == 0 %}
                <span class="badge rounded-pill bg-secondary">{{_("Draft") }}</span>
                
              {% elif planner.docstatus == 1 %}
                <span class="badge rounded-pill bg-secondary">{{_("Submitted") }}</span>

              {% elif planner.docstatus == 2 %}
                <span class="badge rounded-pill bg-secondary">{{_("Cancelled") }}</span>
              {% endif %}
            </td>
            <td class="text-center" planner-name="{{ planner.name }}" onclick="open_planner_detail()">
              <span class="badge badge-primary translate-middle-x">{{_("Edit") }}</span> 
              {%if is_head_instructor %}
                <span class="badge badge-primary translate-middle-x"> / </span>
                <span class="badge badge-primary translate-middle-x">{{_("Approve") }}</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <br />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_new_planner">{{ _("New Planner") }}</button>
  {% endif %} 

  <!-- New Planner Modal -->
  <div class="modal fade" id="modal_new_planner" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{ _("New Planner") }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid px-2 py-2 border bg-light">
            <div class="row">
              <div class="col">
                <label>{{_("Instructor") }}
                  <input class="input-group-text text-align-left" name="instructor" id="instructor" value="{{ instructor }}" readonly></label>
              </div>
              <div class="col">
                <label>{{ _("Date") }}<input class="input-group-text text-align-left" id="lesson_date" type="date" required></label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>{{_("Student Group") }}
                  <input class="input-group-text" list="student_groups" name="selected_group" id="selected_group"/></label>
                <datalist id="student_groups">
                  {% for group in student_groups %}
                    <option value="{{ group.student_group_name }}">
                  {% endfor %}
                </datalist>
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <span class="input-group-text">{{_("Description") }}</span>
                <textarea class="form-control" aria-label="With textarea" id="description"></textarea>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="save_planner()">{{ _("Save") }}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Cancel") }}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ New Planner Modal -->
</main>
{% endblock %}
