{% extends "templates/web.html" %}

{% block title %} Abba's Orchard {% endblock %}

{% block head_include %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block page_content %}
<!-- Header -->
<header class="container">
  <hgroup>
    <!-- how to insert image -->
    <h1 href="https://google.com"><img src="{{ banner_image }}" alt="The Abba's Orchard" width="300" height="100"></h1>
  </hgroup>
  <nav>
    <ul>
      <li><strong>Weekly Planner</strong></li>
    </ul>
    <ul>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      {% if invalid_role %}
      {% else %}
      <li><a href="#" role="button">Create New Planner</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
<!-- ./ Header -->

<!-- Main -->
<main class="container">
  {% if invalid_role %}
  <section id="error">
    <article>
      <header>Invalid Role!</header>
      You are not authorized to access this page. Please contact your administrator for more
      information.
    </article>
  </section>

  {% else %}
  <!-- Load list of Weekly Planners -->   
  <p><p>   
  <section id="planners">
  <table role="grid">
    <thead>
      <tr>
        <!-- display table header titles vertically -->
        <style>
          .rotated-text {
            transform: rotate(-45deg); /* Rotate the text by 90 degrees */
            white-space: nowrap; /* Keep the text on one line */
            text-align: left;
            height: 200px;
          }
        </style>
          <th scope="col">#</th>
          <th scope="col">Instructor</th>
          <th scope="col">Student Group</th>
          <th scope="col">Start Date</th>
          <th scope="col">Status</th>
          <th scope="col" text-align="center">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for planner in weekly_planners %}
      <tr>
        <th scope="row">{{ planner.counter }}</th>
        <td>{{ planner.instructor }}</td>
        <td>{{ planner.student_group }}</td>
        <td>{{ planner.start_date }}</td>
        {% if planner.docstatus == 0 %}
        <td>Draft</td>
        {% elif planner.docstatus == 1 %}
        <td color="Green">Submitted</td>
        {% elif planner.docstatus == 2 %}
        <td color="Red">Cancelled</td>
        {% endif %}
        <td role="button" class="outline" text-align="center" planner-name="{{ planner.name }}" onclick="open_planner_detail()">Edit</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </section>   
  {% endif %} 
</main>
{% endblock %}

{% block base_scripts %}
{% endblock %}
