{% extends "templates/web.html" %}

{% block title %} Abba's Orchard {% endblock %}

{% block head_include %}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
    <!-- override -->
{% endblock %} 

{% block page_content %}
<!-- Header -->
<header class="container">
  <div class="container">
    <div>
        <h3>Weekly Planner Detail</h3>
    </div>
  </div>
</header>
<!-- ./ Header -->

<!-- Main -->
<main class="container">

  <!-- Error -->
  {% if invalid_role %}
    <p><p><p>
    <div class="shadow alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Invalid role!</strong> You are not authorized to access this page. Please contact your administrator for more
      information.
    </div>
    
  {% else %}
    <!-- Planner Header -->
    <p><p>
    <section id="header" class="container">
      <form>
        <!-- Grid -->
        <form>
          <div class="row">
            <div class="col">
              Instructor
              <input type="text" class="form-control" placeholder="First name" value="{{ planner.instructor }}" readonly>
            </div>
            <div class="col">
              Student Group
              <input type="text" class="form-control" placeholder="Last name" value="{{ planner.student_group }}" readonly>
            </div>
          </div>
        </form>
        <p></p><p></p>
    </section>
    <!-- ./ Planner Header -->

    <br />
    <h2>Planner Details</h2>
    {{ planner_details }}

    {% if empty_planner > 0 %}
      <!-- Tables -->
      <table class="table table-md table-striped table-responsive" style="width: 100%" id="items_table">
        <thead>
          <tr>
            <!-- display table header titles vertically -->
            <style>
                .rotated-text {
                  font-size: medium;
                  transform: rotate(-45deg); /* Rotate the text by 45 degrees */
                  white-space: nowrap; /* Keep the text on one line */
                  text-align: left;
                  vertical-align: top;
                  padding-left: 5em;
                  height: 200px;
                }
            </style>
            
            <br><br><br>
            <th scope="col"><div ><span>#</span></div></th>
            <th scope="col"><div style="width: 3%"><span>Material</span></div></th>

            {% for student in student_headers %}
              <th scope="col" ><div><span>{{ student_headers[student]["last_name"] }}, {{  student_headers[student]["first_name"] }}
                <p><i>{{ student_headers[student]["years_old"] }} Years {{ student_headers[student]["months_old"] }} Months</i></p></span></div></th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for topic in topic_headers -%}
            <tr>
              <th scope="row">
                1
              </th>
              <th scope="row">
                {{ topic }}
              </th>
              {% for student in student_headers -%}
                <td>
                  {% if planner_details[topic][student] %}
                    {% for item in planner_details[topic][student] %}
                      <span class="badge badge-pill badge-primary" text-align="center">
                          {{ item.lesson_status[0] }} {{ item.date }}
                      </span>
                    {% endfor %}
                  {% else %}
                      <span></span>
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {%- endfor %}            
        </tbody>
      </table>
      <!-- ./ Tables -->
    
    {% else %}
      <div class="shadow alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Empty Planner!</strong> You have not added any items to your planner. Please add items to your planner.
      </div>
    {% endif %}

    <br />
    <button type="button" class="btn btn-outline-primary" onclick="go_to_main()">Back</button>
    <button type="button" class="btn btn-primary" >New Planner</button> &nbsp; | &nbsp;
    <div class="btn-group" role="group" aria-label="Add...">
      <button type="button" class="btn btn-primary">Add Students</button> &nbsp;
      <button type="button" class="btn btn-primary">Add Topics</button> &nbsp;
      <button type="button" class="btn btn-primary">Add Lessons</button>
    </div>
  {% endif %}
</main>
<!-- ./ Main -->
{% endblock %}