{% extends "templates/web.html" %}

{% block title %}{{ _("Abba's Orchard") }}{% endblock %}

{% block head_include %}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.4.0/css/rowGroup.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
<script> src="https://cdn.datatables.net/rowgroup/1.4.0/js/dataTables.rowGroup.min.js" </script>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
    <!-- override -->
{% endblock %} 

{% block page_content %}
<!-- Header -->
<header class="container">
  <div>
    <div>
        <h3>Weekly Planner Detail</h3>
    </div>
  </div>
</header>
<!-- ./ Header -->

<!-- Main -->
<main class="container">

  <!-- Error -->
  {% if invalid_role %}
    <br />
    <div class="shadow alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{ _("Invalid role!") }}</strong>{{ _("You are not authorized to access this page. Please contact your administrator for more
      information.") }}
    </div>
    
  {% else %}
    <!-- Planner Header -->
    <br />
    <section id="header">
      <!-- Grid -->
      <form>
        <div class="row">
          <div class="col">
            Instructor
            <input type="text" class="form-control" placeholder="First name" value="{{ planner.instructor }}" readonly>
          </div>
          <div class="col">
            Student Group
            <input type="text" class="form-control" placeholder="Last name" value="{{ planner.student_group }}" readonly>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            Date
            <input type="text" class="form-control" placeholder="Date" value="{{ planner.start_date }}" readonly>
          </div>
          <div class="col">
            <br />
            {% if planner.is_approved %}
            <h5><span class="badge bg-success">Approved</span></h5>
            {% elif planner.status == 0 %}
              <h5><span class="badge bg-secondary">Draft</span></h5>
            {% elif planner.status == 1 %}
              <h5><span class="badge bg-primary">Submitted</span></h5>
            {% else %}
              <h5><span class="badge bg-warning">Cancelled</span></h5>
            {% endif %}
          </div>
        </div>
      </form>
    </section>
    <!-- ./ Planner Header -->

    <!-- Buttons -->   
    <hr />
    <button type="button" class="btn btn-outline-primary" onclick="go_to_main()">Back</button>
    <button type="button" class="btn btn-primary">{{ _("New Planner") }}</button> 
    <button type="button" class="btn btn-primary" onclick="delete_planner()">Del Planner</button>

    {% if planner.status == 0 %}
      <button type="button" class="btn btn-primary" id="submit_button" onclick="submit_planner()" >{{ _("Submit Planner") }}</button> 
    {% elif planner.status == 1  and is_head %}
      <button type="button" class="btn btn-primary" id="submit_button" onclick="approve_planner()" >{{ _("Approve Planner") }}</button> 
    {% endif %}    
    &nbsp; | &nbsp;
    
    <div class="btn-group" role="group" aria-label="Add...">
      <button type="button" class="btn btn-primary" data-toggle="modal" 
        data-target="#modal_add_students">{{ _("Add Students") }}</button> &nbsp;
      <button type="button" class="btn btn-primary" data-toggle="modal" 
        data-target="#modal_add_topics">{{ _("Add Topics") }}</button> &nbsp;
    </div> <br /><br />
    <!-- ./ Buttons --> 

    {% if empty_planner > 0 %}
      <!-- Tables -->
      <table class="table table-sm table-striped" style="width: 100%" id="items_table"></table>
      <!-- ./ Tables -->
    
    {% else %}
      <br />
      <div class="shadow alert alert-primary alert-dismissible fade show" id="empty_planner_alert" role="alert">
        <strong>{{ _("Empty Planner!") }}</strong>{{ _(" You have not added any items to your planner. Please add items to your planner.") }}
      </div>    
    {% endif %}
    
    {% if planner_details|length > 10 %}
      <br />
      <button type="button" class="btn btn-outline-primary" onclick="go_to_main()">Back</button>
      <button type="button" class="btn btn-primary" >New Planner</button> 
      <button type="button" class="btn btn-primary" >Del Planner</button> &nbsp; | &nbsp;
      <div class="btn-group" role="group" aria-label="Add...">
        <button type="button" class="btn btn-primary">Add Students</button> &nbsp;
        <button type="button" class="btn btn-primary">Add Topics</button> &nbsp;
        <button type="button" class="btn btn-primary">Add Lessons</button>
      </div>
    {% endif %}
  {% endif %}

  <!-- Action Confirmation Modal -->
  <div class="modal fade" id="modal_action" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_action_title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal_action_body" >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal_action_primary"></button>
          <button type="button" class="btn btn-secondary" planner-name="{{ planner.name }}"
            data-dismiss="modal" id="modal_action_secondary"></button>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ Action Confirmation Modal -->
  
  <!-- Add Students Modal -->
  <div class="modal fade" id="modal_add_students" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{ _("Add Students") }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <!-- Input group for the filters to apply to the Students table below-->
          <div class="container-fluid px-2 py-2 border bg-light">
            <div class="row">
              <div class="col">
                <!-- write code below that will accept text input then build a dropdown below containing items that matches the text input-->
                <label>{{_("Filter by Campus (disabled for now)") }}
                  <input class="input-group-text text-align-left" list="campuses" name="selected_campus" id="selected_campus" readonly></label>
                <datalist id="campuses">
                  {% for campus in campuses %}
                    <option value="{{ campus.campus_name }}">
                  {% endfor %}
                </datalist>
              </div>
              <div class="col">
                <label>{{_("Filter by Student Group (blank for All)") }}
                  <input class="input-group-text" list="student_groups" name="selected_group" id="selected_group"/></label>
                <datalist id="student_groups">
                  {% for group in student_groups %}
                    <option value="{{ group.student_group_name }}">
                  {% endfor %}
                </datalist>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <hr>
                <div class="d-grid gap-2">
                  <button type="button" class="btn btn-primary" onclick="show_students()">{{_("Show Students") }}</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Students table -->
          <br />
          <table class="table table-md table-striped" style="width: 100%"  id="students_table"></table>
          <!-- ./ Students table-->
        </div>

        <div class="modal-footer">
          <div class="btn-group" role="group" aria-label="List Actions">
            <button type="button" class="btn btn-primary" id="add_button">{{ _("Add Selected") }}</button>
            <button type="button" class="btn btn-secondary" id="clear_button">{{ _("Clear Selection") }}</button>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Cancel") }}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ Add Students Modal -->
  
  <!-- Add Topics Modal -->
  <div class="modal fade" id="modal_add_topics" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{ _("Add Topics") }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <!-- Topics table -->
          <br />
          <table class="table table-md table-striped" style="width: 100%"  id="topics_table"></table>
          <!-- ./ Topics table-->
        </div>

        <div class="modal-footer">
          <div class="btn-group" role="group" aria-label="List Actions">
            <button type="button" class="btn btn-primary" id="add_topics_button">{{ _("Add Selected") }}</button>
            <button type="button" class="btn btn-secondary" id="clear_topics_button">{{ _("Clear Selection") }}</button>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Cancel") }}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ Add Topics Modal -->
  
  <!-- Add/Edit Lesson Modal -->
  <div class="modal fade" id="modal_add_lesson" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{ _("Add/Edit Lesson") }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" id="lesson_modal_body">
          <!-- Insert Lesson data here -->
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="save_lesson_button">{{ _("Save") }}</button>
          <button type="button" class="btn btn-secondary" id="delete_lesson_button">{{ _("Delete") }}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Cancel") }}</button>
      </div>
      </div>
    </div>
  </div>
  <!-- ./ Add/Edit Lesson Modal -->
  
</main>
<!-- ./ Main -->
{% endblock %}